.img {
  width: 120px;
  height: 120px;
  position: relative;
}

.imgbox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.img img {
  vertical-align: middle;
  width: 100%;
  height: 100%;

}
.info{
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  font-size: 0.4em;
  padding: 10px 6px;
  display: none;
  border-radius: 12px;
  &>div{
    padding: 3px 8px;
  }
}
.img .info{
  position: absolute;
  left:100%;
  top:0;
  z-index: 9;
}

.img:hover .info{
  display: block;
}